[2015-03-01 19:27] PrzemekWirkus opened #1 "Add to README.md information about CLI: 'mbedhtrun' available from command line"
New file 'mbedhtrun.py' introduces new command line for host test.

[2015-03-01 21:29] #1 closed, assigned to PrzemekWirkus

[2015-03-06 14:09] autopulated opened #2 "Should unmount the mbed volume before resetting the mbed"
(at least on OS X and linux, not sure if this is possible on windows)

This would prevent "this disk was not ejected properly" notifications when running each test. To reproduce, run:

[code]

[2015-05-18 11:44] simonqhughes opened #8 "mbedhtrun fails to run test due to error in mbed_base.py"
This is the problem generated by trying to run the mbed-example-async-serial.bin on k64f as follows:

mbedhtrun d E: -p COM8 -f "build/frdm-k64f-gcc/source/mbed-example-asy
nch-serial.bin "

[code]

[2015-06-02 17:50] LiyouZhou opened #14 "Documentation bug"
mbed-host-tests/README.md:177

-C COPY_METHOD, --program_cycle_s=COPY_METHOD

[2015-06-09 06:41] #14 closed, assigned to nobody

[2015-06-09 06:43] #8 closed, assigned to nobody

[2015-07-24 09:06] bremoran opened #16 "mbed-host-tests fails to load on mac os x"
The root cause of this problem is that python fails to return a correct fully qualified domain name for a mac on a windows LAN.

For example, a mac with a hostname of: ```bremoran-mac``` will return:
[code]
```getaddrinfo()``` does not know how to parse this, which causes a gai error:
[code]
This name does resolve correctly on our DNS, which points to an error in the implementation of ```gethostby

[2015-07-24 12:21] bremoran opened #17 "mbed-host-tests serial port is unstable on Mac OS X"
When running mbed-host-tests on Mac OS X, I frequently get unstable results from the serial driver.

e.g.

[code]

Here, the serial was working fine at first, but part-way through the test, the serial port has died.

This issue does not appear in minicom.

[2015-07-24 12:44] #17 closed, assigned to nobody

[2015-07-24 13:47] bremoran opened #18 "Default copy method on Mac OS X causes failure in Flash Algorithm"
When I execute:

[code]

The copy appears to succeed, but the mbed drive contains the following `FAIL.TXT`:

[code]

When I execute the following command line, the copy succeeds:

[code]

Is it possible to default to a shell copy on mac?

[2015-07-27 13:41] #18 closed, assigned to nobody

[2015-08-10 12:57] 0xc0170 opened #19 "Using stlink does not close the application?"
Not certain if this is a problem in the htrun or our tests and they don't send proper signal to htrun to complete its operation. Here's the command + the output

[code]

I added a comment 3 lines above in the code snippet

[2015-08-10 13:30] 0xc0170 opened #20 "wait us auto - more descriptive information provided"
Currently the script wait_us_auto (I figured this it the file for ticker tests for example), prints this:

[code]

And I had another platform with this output:
[code]

What are  those 2 numbers? The first is the actual time it took to get a character (0.99) and the second is deviation? It helped me to look at here to get more info what is the output (https://github.com/ARMmbed/htrun/blob/master/mb

[2015-09-09 13:00] PrzemekWirkus commented on #20
Yes, first number is time measured and second in braces is a deviation from assumed 1 sec.

[2015-09-11 12:19] PrzemekWirkus commented on #19
```stlink``` plugins are not promoted to 'stable' so issues may appear.
[code]

I can't spend time now to check this deeper. Let me know if this is urgent.

[2015-09-11 12:38] PrzemekWirkus commented on #20
You are right, I will fix this. It should be more verbose!

[2015-09-11 12:40] PrzemekWirkus commented on #20
Fixed with https://github.com/ARMmbed/htrun/commit/a5b2595336b8e821bdd04152cfd4462b00090c67

Please wait a bit for PyPI mbed-host-tests update :)

[2015-09-11 12:40] #20 closed

[2015-09-11 12:41] 0xc0170 commented on #20
Thanks!

[2015-09-17 15:37] salkinium opened #23 "stlink command is hardcoded for Windows"
Executing
```mbedhtrun -c stlink -r stlink ...```
on OS X results in this error:
```-p: ST-LINK_CLI.exe: command not found```

This is not surprising, since in both plug-ins, the CLI is [hardcoded to this version](https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests_plugins/module_copy_stlink.py#L34).

For OS X (and Linux) this should be `st-flash`.
However [the command format](

[2015-09-21 08:07] salkinium opened #25 "Serial output is cut off and test times out (on OS X)"
Running [a test with more output than usual](https://github.com/salkinium/mbed-drivers/blob/feature/spi_unittest/test/asynch_spi/asynch_spi.cpp#L117) results in a cut-off of serial output and the test ultimately times out.
The serial output buffer is apparently also not properly emptied, as the same partial output appears twice.
https://gist.github.com/salkinium/4d46cb487bbb8a292e46

This does not

[2015-09-21 08:12] autopulated commented on #25
Is this running naked htrun, or via `yotta test`? If you're using yotta test, testing this branch might be useful, as it introduces additional logging, and a more careful approach to the way test output is processed: https://github.com/ARMmbed/yotta/pull/350

[2015-09-21 08:16] salkinium commented on #25
Yes, this is running via `yt test`, I'll try the branch.

[2015-09-29 08:27] PrzemekWirkus opened #26 "[Win7] Test suite reports IOERR_SERIAL errors while testing K64F with firmware v0226"
# Description
* With old K64F firmware ```mbedhtrun``` behaves correctly not causing any serial port issues.
* With new firmware v0226 (bugfix for Linux users) for K64F platform ```mbedhtrun``` is not handling serial port operations correctly causing serial port access issues:
[code]
See:
[code]

### K64F firmware (DETAILS.TXT dump):
[code]

[2015-09-30 07:13] PrzemekWirkus commented on #26
Example for ```mbed-drivers```:
[code]

[2015-10-01 12:14] salkinium opened #27 "Typo: handle_send_bread_cmd"
Anecdotal evidence suggests that the boards don't like it when you send them :bread:.
Have you tried sending :pizza: or :hamburger: instead?

https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/__init__.py#L145

[2015-10-01 15:25] salkinium commented on #25
The pyserial module on OSX seems to cause a reset to occur in the DAPLink when closing the connection. The DAPLink then buffers the output of the test, while the serial port is "disconnected".

After opening the connection again, flushing the input fails (for whatever reason), and the buffered output
is read into htrun, confusing it and sometimes failing prematurely.

The following simple code can

[2015-10-01 16:00] autopulated commented on #25
So trying more persistently to flush the output after opening the connection seems like the best workaround?

[2015-10-01 16:24] salkinium commented on #25
It's not `pyserial`s fault, picocom also resets the device on disconnection.

@autopulated I think you're right. The following crude workaround does flush the input.

[code]

You still need the `time.sleep(1)`, just calling `flushInput()` three times doesn't work.
The flushing only happens in the OS buffer, not the DAPLink (even though it should, but I don't know if that is possible).

[2015-10-01 16:28] salkinium commented on #25
Yay! This workaround also works in htrun!
However, only if you call `flushInput()` it doesn't work only with `flush()`.

[2015-10-02 07:28] PrzemekWirkus commented on #25
Have you tried:
[code]

[2015-10-02 07:31] salkinium commented on #25
Yes, and it makes no difference :-(

[2015-10-02 08:46] autopulated commented on #25
Does it work with shorter sleep times, or even no sleep time, but just a sleep(0) (it's possible that sleep() is just yielding, and the delay isn't important)?

[2015-10-09 08:32] PrzemekWirkus commented on #27
Fixed here: https://github.com/ARMmbed/htrun/commit/415ba49e4f3a81243085a537ae837bde0b8301d5.

PS: You are welcome to send directly PR with fix for this trivia issues! :)

[2015-10-09 08:32] #27 closed

[2015-10-09 08:56] PrzemekWirkus commented on #23
How about PR to fix this?
You can use host OS detection functions I've just added to implement it: https://github.com/ARMmbed/htrun/commit/a52e8aff8cf792879934a41d378896c6a8c60c5d

[2015-10-09 09:26] salkinium commented on #23
I actually have implemented this for OS X, however, I ran into a lot of trouble with the open-source `st-flash` version, which apparently needs to connect under reset?
I then didn't spend anymore time on it.

[2015-10-09 09:28] salkinium commented on #25
Interestingly, I do not get this behaviour when using the cmsis-dap chip from ST (called the st-linkv2-1 as found on the Nucleo boards).
I believe this is only on the combination of k64f and OS X.

[2015-10-15 15:10] rainierwolfcastle commented on #26
http://jira-dev0.cambridge.arm.com/browse/IOTSYST-187

[2015-10-15 15:10] rainierwolfcastle commented on #25
http://jira-dev0.cambridge.arm.com/browse/IOTSYST-188

[2015-10-15 15:10] rainierwolfcastle commented on #19
http://jira-dev0.cambridge.arm.com/browse/IOTSYST-189

[2015-10-15 15:10] rainierwolfcastle commented on #16
http://jira-dev0.cambridge.arm.com/browse/IOTSYST-190

[2015-10-15 15:10] rainierwolfcastle commented on #2
http://jira-dev0.cambridge.arm.com/browse/IOTSYST-191

[2015-10-16 15:49] rainierwolfcastle commented on #26
ARM Internal Ref: IOTSYST-447

[2015-10-16 15:49] rainierwolfcastle commented on #25
ARM Internal Ref: IOTSYST-448

[2015-10-16 15:49] rainierwolfcastle commented on #19
ARM Internal Ref: IOTSYST-449

[2015-10-16 15:49] rainierwolfcastle commented on #16
ARM Internal Ref: IOTSYST-450

[2015-10-16 15:49] rainierwolfcastle commented on #2
ARM Internal Ref: IOTSYST-451

[2015-11-04 11:58] PrzemekWirkus commented on #26
Fixed with [v0.1.17](https://github.com/ARMmbed/htrun/releases/tag/v.0.1.17)

[2015-11-04 11:58] #26 closed

[2015-11-10 13:39] mazimkhan opened #28 "mbed-host-test requires primary DNS suffix configured to computer name"
OS: Windows 7
file htrun/mbed_host_tests/host_tests/test_socket_server_udp.py
line 24
Issue: socket.gethostbyname(socket.getfqdn()) fails to resolve to IP address

On Windows 7 call to socket.getfqdn() gives <computer>.<domain suffix>  (Fully qualified domain name)
In order for socket.gethostbyname() to work it expects that computer's full name is like <computer>.<domain suffix>.

The full compute

[2015-11-13 10:56] rainierwolfcastle commented on #28
ARM Internal Ref: IOTSYST-576

[2015-11-18 11:25] PrzemekWirkus commented on #28
1. I will make sure that then imported and added to host test registry initialization like this is not executed unless test uses UDP sockets etc.
2. README.md has to be updated with this configuration information to support users.

[2015-11-19 08:40] PrzemekWirkus commented on #28
Fixed with https://github.com/ARMmbed/htrun/pull/31.

[2015-11-19 08:40] #28 closed

[2015-11-23 07:50] PrzemekWirkus opened #33 "Switch -e (enumerate host tests) doesn't supoprt 'yotta test'"
Currently ```yotta test``` command executes in module subdirectory and ```mbedgt``` (greentea) can't deduce and enumerate host tests in default ```module/test/host_tests```.

How to reproduce:
[code]
* ```yotat test``` execution directory of tests (mbedgt): ```c:\Work\mbed-drivers\build\frdm-k64f-gcc\test```
  * Default host test directory assumed by greentea: ```c:\Work\mbed-drivers\build\frdm-k6

[2015-11-23 11:24] ciarmcom commented on #33
ARM Internal Ref: IOTSYST-588

[2015-11-28 15:38] bittailor commented on #16
I had the some problem on my mac os x machine. @bremoran's interim solution fixed it also on my machine. Thanks a lot.

[2015-12-11 17:21] niklas-arm commented on #33
I can reproduce this issue with v0.1.18.

[2015-12-11 17:23] niklas-arm commented on #25
This seems to be fixed now with v0.1.18.

[2015-12-14 09:44] niklas-arm commented on #33
Note that this can be fixed by appending this to the `module.json`:

[code]

[2015-12-16 16:24] 0xc0170 opened #36 "DefaultTestSelector - default ctor ends up with AttributeError"
test_selector = DefaultTestSelector()

[code]

[2015-12-16 16:33] 0xc0170 opened #37 "htrun - if a test timeouts, does it kill all running processes?"
I am running ``` mbedgt -V -n socket-test-test-tcp_client_echo_v0 ```. The test timeouts, and I can still see socket open (listening), and python process is running even though test time-outed.

Using mbedhtrun 0.1.18, mbedgt 0.1.14. I created an issue here, but might be mbedgt ? Let me know what do you think

[2015-12-16 17:16] ciarmcom commented on #37
ARM Internal Ref: IOTSYST-680

[2015-12-16 17:16] ciarmcom commented on #36
ARM Internal Ref: IOTSYST-681

[2015-12-16 17:24] 0xc0170 opened #38 "Copy all files within root directory - when using with -e option"
I am probably misusing htrun at the moment, but should not allow me to do this:

[code]

[code]

[2015-12-16 19:16] ciarmcom commented on #38
ARM Internal Ref: IOTSYST-682

[2015-12-17 07:57] 0xc0170 commented on #37
The  idea might be to have setup/teardown? If test method creates some resources, how do we expect cleanup at the moment?

[2015-12-17 16:31] bremoran opened #39 "mbed_client_auto test generates import errors on some platforms"
This code is not guaranteed to work across platforms:
https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests/mbed_client_auto.py#L41

[code]

Please use this instead:

[code]

[2015-12-17 17:07] bremoran opened #40 "htrun fails to load on networks without DHCP/DNS integration"
On networks without DHCP/DNS integration, htrun fails to load network tests, which causes all of htrun to fail to load. This is hidden by https://github.com/ARMmbed/greentea/issues/45.

The load failure is because hosts do not have resolvable names on networks without a DHCP/DNS integration, which causes the call to: ```gethostbyname``` to fail.

Many home networks do not have DHCP/DNS integration

[2015-12-17 17:11] bremoran commented on #40
Many hosts have multiple network connections, which are not necessarily bridged.
Many network tests require that the DUT is provided with the host's address via serial.

In these situations, it's possible that the current solution could provide the wrong result:

[code]

This is particularly the case when there is a host that has two network interfaces:

* a private internal network with no intern

[2015-12-17 17:17] ciarmcom commented on #40
ARM Internal Ref: IOTSYST-687

[2015-12-17 17:17] ciarmcom commented on #39
ARM Internal Ref: IOTSYST-688

[2015-12-18 11:34] niklas-arm opened #41 "What is a Rump Up?"
https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests/base_host_test.py#L25

[2015-12-18 11:41] 0xc0170 commented on #41
Is this a proper naming for those 2 functions - rampUp, rampDown?

We have setup and teardown in other tools.

[2015-12-18 12:40] niklas-arm commented on #41
:+1:  for setup and teardown, as they are more closely associated with testing.
RampUp and RampDown seems to be a business or engineering term, not usually associated with testing.

[2015-12-18 13:16] ciarmcom commented on #41
ARM Internal Ref: IOTSYST-693

[2015-12-18 13:34] marhil01 commented on #41
We have to check the naming in clitest if other our tools will have setup and teardown

[2015-12-18 13:57] niklas-arm commented on #41
There seems to be massive confusion in our python scripts:

- [Plenty of Ramps](https://github.com/search?utf8=✓&q=user%3Aarmmbed+language%3Apython+rampdown&type=Code).
- [Plenty of Teardowns](https://github.com/search?utf8=✓&q=user%3Aarmmbed+language%3Apython+teardown&type=Code).
- [I could not find any rampups or rampdowns in C or C++ code](https://github.com/search?utf8=✓&q=user%3Aarmmbed+langu

[2015-12-21 07:17] marhil01 commented on #41
ok there will be added setUp and tearDown to clitest framework: IOTSYST-695

[2015-12-22 11:58] PrzemekWirkus commented on #38
Thanks for catching this! I will fix this, thanks! You are actually by "missuing it" finding lots of things not fixed, great work!

PS: Option ```-e``` should be used with directory, not file:
[code]

[2015-12-22 12:04] PrzemekWirkus commented on #37
We have setup and teardown called ramUp and rampDown (to be compliant with other test library we call cli-test).

```mbedhtrun``` is the thing called in timeouted process or from command line so you control things there.

I can see you've already told us about setup/teardown naming convention you prefer.
I think it gones like this in host test:
1. call to rampUp() (setup)
2. call to test()
3. call

[2015-12-22 15:21] PrzemekWirkus commented on #38
Will be fixed in next release :P

[2015-12-22 15:29] PrzemekWirkus commented on #36
I will remove default value for ```DefaultTestSelector``` class, this is less flexible but will assume users are passing all options from command line to it.

[2015-12-22 15:30] #41 closed

[2015-12-22 15:43] PrzemekWirkus commented on #39
I think this test sets stuff during object attributes setting (similar to construction).
This is not allowed in this type of scrips. I will change it, but I think we should remove this host test from htrun soon.

[2015-12-22 15:52] PrzemekWirkus commented on #39
I've removed this host test from ```htrun``` because this type of tests should be mode to ```mymodule/test/host_tests```, vide: https://github.com/ARMmbed/htrun/pull/32

[2015-12-22 16:00] PrzemekWirkus commented on #37
@0xc0170 Doesn't create new processes. It only calls command line tools if plugin defines such behavior.
You just have to be sure that your implementation actually finish, you can't just create infinite loop in test method, you need to implement behavior responsible for tearing down your host test.

[2015-12-30 16:39] LiyouZhou opened #44 "clear serial buffer before reading"
On a ubuntu platforms, it is found that remnants from previous runs of htrun in the serial buffer could messup the current run.

[2015-12-30 17:15] ciarmcom commented on #44
ARM Internal Ref: IOTSYST-703

[2016-01-04 09:45] PrzemekWirkus commented on #44
Can you please give an example etc. I wish to reproduce and was wondering how I can do that?

[2016-01-04 09:56] niklas-arm commented on #44
Same on OS X when using K64F.
This makes `yt test` unusable on OSX.

This behavior doesn't happen with the ST-Linkv2-1, though, so this is a bug in the firmware of the interface chip on the K64F.
This `htrun` has to deal with this correctly.

[2016-01-04 10:45] LiyouZhou commented on #44
for `yt test` failure, I have filed an issue here: https://github.com/autopulated/mbed-test-wrapper/issues/2

[2016-01-04 10:51] LiyouZhou commented on #44
@PrzemekWirkus

1. Run test normally, takes 16 seconds.
1. Run test and ctrl+c keyboard interrupt halfway at this point the board is still sending stuff to the host, leaving undigested stuff in the serial buffer.
1. Run test again, the test finds some stuff it not suppose to.

See detailed log below.

[code]

[2016-01-04 14:51] #39 closed

[2016-01-04 14:51] #38 closed

[2016-01-04 14:52] #37 closed

[2016-01-04 14:54] PrzemekWirkus commented on #40
Brendan, thank you very much for this valuable comments. These valuable tips how to write proper networking host test are pretty important.
I've removed things that are using "bad way" mentioned here in this https://github.com/ARMmbed/htrun/pull/43.

In the future we will probably address this issue with external users.

[2016-01-04 14:54] #40 closed

[2016-01-04 14:55] #36 closed

[2016-01-04 14:57] PrzemekWirkus commented on #23
This is addressed here: https://github.com/ARMmbed/htrun/releases/tag/v.0.1.18
Now each plugin can specify if it works under given OS (in our case Stlink thing will not be available under !Windows OS.
You can use ```mbedhtrun  --plugins``` to check if plugin works under your OS or not.

[2016-01-04 14:57] #23 closed

[2016-01-04 14:58] PrzemekWirkus commented on #44
Thanks guys!

[2016-01-06 09:12] PrzemekWirkus opened #47 "No support for pySerial 3.0 (change of APIs)"
More here: https://github.com/ARMmbed/htrun/pull/46

In short, pyserial module in latest version 3.0 (previous was 2.7) pupated APIs and deprecated existing ones.
We need to support both for compatibility.

[2016-01-06 09:59] #47 closed

[2016-01-07 14:44] niklas-arm opened #48 "Rename rampUp/Down to setup/teardown"
See https://github.com/ARMmbed/htrun/issues/41#issuecomment-165783839
and also https://github.com/ARMmbed/mbed-clitest/pull/207.

[2016-01-07 15:29] 0xc0170 opened #49 "Test runner - test() async support"
The code reference for what I understand is the test runner which expects the result to be returned from a test(): https://github.com/ARMmbed/htrun/blob/a8435d25e66f6d5232460e55f27e978fced1887b/mbed_host_tests/__init__.py#L410

Shall we consider async support for our test cases (for host tests)? This might be useful to write async host test, which would be terminated once {{end}} is received.

For

[2016-01-07 15:33] 0xc0170 commented on #48
+1 to have unified naming for these functions

[2016-01-07 15:57] PrzemekWirkus commented on #48
@stegut01 Please implement this simple issue! :)

[2016-01-07 16:16] ciarmcom commented on #49
ARM Internal Ref: IOTSYST-739

[2016-01-07 16:16] ciarmcom commented on #48
ARM Internal Ref: IOTSYST-740

[2016-01-08 08:22] 0xc0170 commented on #49
The code which we wrote was referenced here : https://github.com/ARMmbed/greentea/issues/50 (it's not quite correct but illustrates a user case for having async host test).

[2016-01-08 15:46] mazimkhan opened #51 "Add description about host test enumertaion"
Due to issue https://github.com/ARMmbed/greentea/issues/55 it is desired that host test enumeration is explained in the mbed host test README.

[2016-01-08 21:27] ciarmcom commented on #51
ARM Internal Ref: IOTSYST-747

[2016-01-11 11:49] PrzemekWirkus commented on #51
HI guys,
I think we need to copy this https://github.com/ARMmbed/htrun/pull/32 full descirption under htrun README.md :) I think it should help developers to understand better the way we fetch and process host tests (especially usage of ```-e``` command).

[2016-01-12 08:54] PrzemekWirkus commented on #51
I will add ```-e``` description to documentation via separate PR asap.

[2016-01-12 09:29] PrzemekWirkus commented on #51
I've added some changed to docs, not much but still: https://github.com/ARMmbed/greentea/pull/61

[2016-01-12 16:16] #51 closed

[2016-01-13 08:38] PrzemekWirkus commented on #48
We've merged this change already. We will release soon so you will be able to change your pending PRs using setup/teardown.

BTW, we still didn't make setup->test->teardown robust so it might not work as expected.

[2016-01-13 08:38] PrzemekWirkus commented on #48
I will close this because issue is about renaming not actually making teardown() work.

[2016-01-13 08:38] #48 closed

[2016-01-13 09:44] PrzemekWirkus opened #56 "pySerial 3.0.1 version breaks unit tests"
We falsely assumed pySerial will have 3.x version numbers.
* Time to update pySerial detection function and unit test to guard it.
[code]

[2016-01-13 11:17] ciarmcom commented on #56
ARM Internal Ref: IOTSYST-759

[2016-01-15 13:46] #56 closed

[2016-01-20 09:14] PrzemekWirkus opened #60 "Missing setup() / teardown() call in main htrun flow"
# Description
We are [only calling ```setup()``` / ```teardown()```](https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/__init__.py#L413) when we handle ```---run``` switch (not used in CI). We are not calling setup/teardown in normal workflow:
[code]

We should be calling it also [here](https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/__init__.py#L480):
[code]

probably miss

[2016-01-20 09:33] mazimkhan commented on #60
Calling ```self.test_supervisor.teardown()``` in a try: finally would be a good idea.

[2016-01-20 10:41] mazimkhan commented on #44
This seems to be an issue in greentea that terminates a test even if ```{{end}}``` appears in an error message.
Solution is that greentea should only end a test when ```^{{end}}$``` is received. This solution is within the premise of current implementation. In future we may need a simple test case state machine that is driven by communication between target and host test sides on the serial port.

[2016-01-20 11:09] mazimkhan commented on #44
@LiyouZhou please test https://github.com/ARMmbed/greentea/pull/71/

[2016-01-20 12:59] PrzemekWirkus commented on #60
@mazimkhan Do you think that there is a chance for us to call teardown twice?
* Once we try to kill a process and we already called a teardown in a setup-test-teardown flow?

[2016-01-20 15:32] ciarmcom commented on #60
ARM Internal Ref: IOTSYST-773

[2016-01-20 15:48] mazimkhan commented on #44
Closing this as issue created in greentea https://github.com/ARMmbed/greentea/issues/70

[2016-01-20 15:48] #44 closed

[2016-01-20 16:46] mazimkhan commented on #2
Is this seen any more? One difference I see between command in top comment and how greentea launches mebdhtrun is that it uses copy method ```-c shell``` on mac and it works fine.
Please comment/close this issue if not seen any more.

[2016-01-20 16:50] autopulated commented on #2
I haven't tried recently, possibly @niklas-arm, or @bremoran have tried this on a Mac recently and can quickly confirm if it's still a problem?

[2016-01-20 17:19] niklas-arm commented on #2
Yes, and it's extremely annoying, since the notification remains on screen and doesn't timeout.

[2016-01-20 17:23] mazimkhan commented on #25
There are two issues mentioned here.
1. If the test has long serial output. It times out and serial output is cut off.
2. The unread serial output is buffered in cmsis-dap chip. This confuses mbedgt in next test/run and prematurely terminates the test.

Analysis on 1: If the test is long (i.e. how much time it takes to execute) then the timeout in the test should be set accordingly. In the gist I

[2016-01-20 17:37] mazimkhan commented on #60
@PrzemekWirkus yes it is possible that's why in abort () any exceptions raising from it are suppressed.

[2016-01-20 17:43] mazimkhan commented on #60
@PrzemekWirkus moreover when greentea decides to terminate mbedhtrun it has already failed the test and stopped reading mbedhtrun stdout. Main requirement in that scenario is to indicate to the test to cleanup/unblock.

[2016-01-21 09:40] mazimkhan commented on #16
@bremoran, @bittailor I don't see this issue any more on mac m/c I have. Can you please retest with latest version and share the feedback.

[2016-01-21 14:14] #60 closed

[2016-01-21 21:05] bittailor commented on #16
@mazimkhan I tried the latest version (0.1.22) on my mac an all works fine. So for me the issue is gone with the latest version.

[2016-01-22 16:43] LiyouZhou opened #64 "Feature request: More intelligence in mbedflsh in figuring out location of binary and target"
current usage of `mbedflsh -d E: -f /path/to/file.bin`
It shouldn't be too hard to figure out the target path using mbedls. A search of current directory can help identify the binary path. These improvements can greatly improve the user experience.

[2016-01-22 17:18] ciarmcom commented on #64
ARM Internal Ref: IOTSYST-792

[2016-02-09 10:06] PrzemekWirkus commented on #49
This will be covered by this breaking change: https://github.com/ARMmbed/greentea/pull/78

[2016-02-09 10:07] PrzemekWirkus commented on #49
I will close this because we will continue in separate threads.

[2016-02-09 10:07] #49 closed

[2016-03-04 16:44] PrzemekWirkus opened #70 "Async documentation missing"

[2016-03-04 16:50] ciarmcom commented on #70
ARM Internal Ref: IOTSFW-2228

[2016-03-11 00:47] #2 closed

[2016-03-11 00:47] #16 closed

[2016-03-11 00:48] #25 closed

[2016-04-01 06:50] ccli8 opened #79 "mbed-drivers-test-echo test fails"
Hi,

mbed-drivers-test-echo contains one test suite which contains three test cases.
In the first test case, mbed-host-tests will send one more KV pair than specified and interfere with next test case. So the second test case fails. This issue is met on Nuvoton's board but not on K64F board. I check with K64F and find mbed-host-tests still send one more KV pair as above, but I don't know why K64F

[2016-04-01 07:50] ciarmcom commented on #79
ARM Internal Ref: IOTSFW-2393

[2016-04-04 11:51] PrzemekWirkus commented on #79
@ccli8 Which compiler (yotta target) you've used to build mbed-driver ?

[2016-04-06 01:18] ccli8 commented on #79
Hi,
Compiler: armcc 5.06 (MDK-ARM 5.17)
Board: Nuvoton's Nu-mbed-NUC472, but it is under test and not yet released
OS: Windows 7

[code]

[2016-04-07 12:30] PrzemekWirkus commented on #79
@ccli8 OK, sounds legit ;) I will have a look soon at this issue.

[2016-04-07 15:53] PrzemekWirkus opened #80 "htrun should inform if dynamically loaded host tests called BaseHostTest constructor"
Not calling ```BaseHostTest.__init__(self)``` in your explicitly defined host test class may cause state machine not to work properly (callbacks are not registered and properly called).
```htrun``` should check if derived from ```BaseHostTest``` called its constructor and warn user if it doesn't.

Soluton:
* Do not define / use ```__init__(self)```.
* If you define custom ```__init__(self)``` in h

[2016-04-07 15:53] PrzemekWirkus commented on #80
As result users get lots of "ignoring" events warnings...
[code]

[2016-04-07 16:25] PrzemekWirkus opened #81 "2 x 99% CPU usage on Mac OS Maveric 10.9.5"
TBD but till now I know that Greentea spawns two processes which are using too much CPU.
This has to be debugged and tracked.

[2016-04-07 19:50] ciarmcom commented on #81
ARM Internal Ref: IOTSFW-2429

[2016-04-07 19:50] ciarmcom commented on #80
ARM Internal Ref: IOTSFW-2430

[2016-04-08 13:06] PrzemekWirkus commented on #79
@ccli8 Can you check if [this simple fix](https://github.com/ARMmbed/htrun/pull/82) will help in your case?

[2016-04-11 01:31] ccli8 commented on #79
@PrzemekWirkus Yes, it fix the issue. Thanks.

[2016-04-11 01:31] #79 closed

[2016-04-18 09:23] PrzemekWirkus commented on #79
@ccli8 Thank you ! :)

[2016-04-18 13:01] #70 closed

[2016-04-18 14:01] PrzemekWirkus commented on #80
I've created PR with fix for this issue https://github.com/ARMmbed/htrun/pull/83.
@mazimkhan @adbridge: Please review in free time :)

[2016-05-08 20:34] bridadan opened #87 "Command options and the default behaviors"
Pull requests #85 and #86 add support for checking the mount point and serial port for a platform. Since this information can be derived from mbed-ls (when supplied a target ID), it seems like the only time you would provide the serial port or mount point is when you don't know the target ID, the platform doesn't have a valid target ID, or you want to override one or many of the values that were r

[2016-05-09 00:03] ciarmcom commented on #87
ARM Internal Ref: IOTSFW-2524

[2016-05-09 09:10] PrzemekWirkus commented on #87
Yes, this makes perfcet sense, we can iterate and change how -t behaves.

+1

[2016-05-11 08:54] PrzemekWirkus opened #89 "Serial port mbed-ls guard failed"
[code]
See: http://e108747.cambridge.arm.com:8080/job/gt/3671/console

[2016-05-11 09:20] PrzemekWirkus commented on #89
Looks like waiting for mbed-ls to enumerate and wait for serial port took in total ~7 sec.
[code]
I will add some extra prints so we can see this better in logs.

[2016-05-11 16:03] ciarmcom commented on #89
ARM Internal Ref: IOTSFW-2541

[2016-05-16 12:29] PrzemekWirkus commented on #33
Obsolete issue. Closing.

[2016-05-16 12:29] #33 closed

[2016-05-17 09:19] #89 closed

[2016-05-17 09:20] PrzemekWirkus commented on #89
Fixed with #91.

[2016-06-12 13:57] geky opened #96 "Serial communication introduces second long delays"
Most noticable on echo tests. Causes the [echo tests](https://github.com/ARMmbed/mbed-os/blob/master/TESTS/mbed_drivers/echo/main.cpp) to fail without a timeout of >2 minutes.

cc @PrzemekWirkus @bridadan

[2016-06-12 13:59] geky commented on #96
I made a workaround #97. There is probably a better way to solve it, but this could work as a temporary solution.

[2016-06-13 13:37] PrzemekWirkus commented on #96
@geky How did you test it?

[2016-06-13 13:52] PrzemekWirkus commented on #96
OK, I had a chance to check it. It looks promising, gonna release this to PyPI :)

[2016-06-13 13:52] #96 closed

[2016-06-13 13:53] geky commented on #96
Ah tested locally with mbedgt and the tests in mbedmicro/mbed. Glad it worked for you : )

[2016-06-16 14:44] PrzemekWirkus commented on #80
Done with #83

[2016-06-16 14:44] #80 closed

[2016-06-21 10:34] PrzemekWirkus opened #102 "Remove custom logger from htrun"
# Description
Currently we are using [custom logger](https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests_conn_proxy/conn_proxy_logger.py) to log all events in `htrun` threads / processes we are using.
We want to replace custom logger which is using custom locking with python module logging.

# Rationale
* This change will reduce number of issues we have with extra code and misu

[2016-07-03 23:36] #64 closed

[2016-07-03 23:37] PrzemekWirkus commented on #81
I need to close this, I can;t reproduce for now.

[2016-07-03 23:37] #81 closed

[2016-07-04 13:37] #19 closed

[2016-07-07 14:44] #102 closed

[2016-07-19 10:58] PrzemekWirkus opened #112 "[Refactoring] Separate key-Value protocol event loop from DefaultTestSelector class"
# Description

Currently `DefaultTestSelector ` class implements [event loop](https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests_runner/host_test_default.py#L178) for Key-Value protocol.
This forces `htrun` to rely on this functionality. As `htrun` changes we want to be able to have interchangeable even loop mechanism where event loop communicates with connection process using

[2016-07-25 12:47] #112 closed

[2016-07-25 14:05] PrzemekWirkus opened #115 "[devel_framework_refactoring] NameError: global name 'result' is not defined"
# Description

When running all tests from mbed-os I've notices some issues inside (traceback). Please check.
Command to reproduce:
[code]

# Traceback from `tests-mbed_drivers-rtc` test
I was running some tests with mbed-os and saw this issue in even loop:
[code]

See [HTML report](https://rawgit.com/PrzemekWirkus/4523d3a1c0d4f2f6a180a146f53ef988/raw/9fc6ba3072dadc3326046d7717763c36e795af1e/issue

[2016-07-25 14:09] PrzemekWirkus commented on #115
@ConorPKeegan FYI, please check!

[2016-07-27 08:38] #115 closed

[2016-08-04 13:12] mazimkhan opened #120 "Greentea passing test cases even when there is sync failure."
Below log shows that host test has failed to receive the sync correctly but since greentea works on test start and end prints it reads tests as pass. Perhaps it should make sure sync has worked correctly before parsing test case logs.

[code]

[2016-08-04 15:53] ciarmcom commented on #120
ARM Internal Ref: IOTSFW-2849

[2016-09-14 18:30] bridadan opened #129 "Coveralls always failing in CI"
I think @adbridge disabled on the https://github.com/ARMmbed/greentea repository. Can this be done here as well?

[2016-09-16 10:48] mazimkhan commented on #87
@bridadan this issue is fixed here. We would need changes in Greentea to make use of this feature.

[2016-09-19 10:24] adbridge commented on #129
ARM Internal Ref: IOTSFW-2922

[2016-09-19 12:59] adbridge commented on #129
It has been removed!

[2016-09-19 12:59] #129 closed

[2016-11-17 13:56] LiyouZhou opened #136 "Timeout too small when using grm"
https://github.com/ARMmbed/htrun/blob/1846ae7ee05907a3ffd6640197b6bc73f6469d2d/mbed_host_tests/host_tests_conn_proxy/conn_proxy.py#L108

I found the 30s timeout to be too small for some grm as there is network delays and resource overheads.

Can it be at least 60s. Or better yet, configurable.

[2016-12-09 16:48] #136 closed

[2017-01-05 20:44] bridadan opened #142 "[moved from mbed-cli #411] mbedhtrun --skip-reset is not working"
Originally reported [here](https://github.com/ARMmbed/mbed-cli/issues/411) by @jeromecoutant:

https://github.com/ARMmbed/mbed-os/blob/master/docs/testing_mbed_OS_5.md#debugging-tests

[2017-01-23 15:59] #142 closed

[2017-01-24 11:01] Patater opened #144 "Be more robust in log parsing"
Consider the following example logs.

### Good log

[code]

### Bad log
[code]

### Good log
[code]

These logs are impossible to match with the current log matching functionality. The current log matching feature (for both programmer implementation and user cognitive overhead) would be simplified by matching with a single multi-line regular expression.

### Example log matcher
The following multi

[2017-01-25 11:20] mazimkhan commented on #144
This comment compares two approaches for working out a better approach. Please see details of the existing feature [here](https://github.com/ARMmbed/htrun#testing-mbed-os-examples)

| Scenarios\Approaches | Existing  | Multi-line Regex  |
|---|---|---|
| Simple Deterministic log: Where order and contents of log lines do not change  | Literally matching lines works fine.   | You have to write in re

[2017-01-25 11:23] Patater commented on #144
It also applies to issues where examples have non-deterministic line orderings (like in the IRQ example provided above).

[2017-02-06 10:32] Patater opened #148 "htrun does not wait for the serial port"
`check_serial_port_ready` always returns true. There is logic to handle a timeout, but `check_serial_port_ready` doesn't notify its caller (`SerialConnectorPrimitive.__init__`) that no serial port was found after a timeout. As such, htrun attempts to use a serial port that isn't yet ready, to send a sync message, leading to failures to sync with greentea-client.

htrun shouldn't attempt to use a s

[2017-04-06 08:59] #148 closed

[2017-04-24 06:32] jupe opened #153 "remote resource - failed connection clear selected resource"
if serial connection fails it clears selected resource and exclude resource releasing afterwards when calling [finish](https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests_conn_proxy/conn_primitive_remote.py#L137). PR #152 helps a bit because it verify if `selected_resource` exists before usage but doesn't fix the root cause.

See: https://github.com/ARMmbed/htrun/blob/master/mb

[2017-04-24 07:46] jupe commented on #153
there is already one PR which fix couple issues with remote resource (but not this one): https://github.com/ARMmbed/htrun/pull/152

[2017-05-12 13:07] marcuschangarm opened #156 "Connections to remote board often timeout"
When invoking htrun through greentea, the connection to remote board often timeout. This makes it difficult to maintain a proper CI flow.

Greentea called from Jenkins:
[code]

Output from failed run:
[code]

Full log:
https://jenkins-internal.mbed.com/job/ARMmbed/job/update-client-firmware-manager/job/master/37/console

Related comments:
https://jira.arm.com/browse/IOTSYST-2282

[2017-05-12 15:34] jupe commented on #156
For me this does't look like timeout issue. Logs says that disconnect fails because resource was already released.

Anyway, PR #152 probably fix this issue.

[2017-08-13 15:25] maiorfi opened #164 "Using htrun while debugging device test code (in IDE)"
Hi. What is the right way to debug a test firmware (using mbedos test framework) inside a IDE (say KEIL MDK UVISION 5) while running mbed test procedure?

Is device supposed to "wait" for a sync packet through serial port? Say I would like to set breakpoints at start of test methods and run a "mbed test..." command hoping those breakpoints will be hit :)

Am I wrong or mbed test (i.e. mbedhtrun) s

[2017-08-13 15:44] maiorfi commented on #164
...never mind...just found https://docs.mbed.com/docs/mbed-os-handbook/en/latest/advanced/testing/#debugging-tests

I'll give it a try :)

[2017-08-13 15:44] #164 closed

[2017-09-19 15:55] theotherjimmy commented on #156
@marcuschangarm @jupe #152 was merged. Is this issue still present? If so, please reopen this issue.

[2017-09-19 15:55] #156 closed

[2017-09-19 15:56] theotherjimmy commented on #153
@jupe #154 was merged, so I'm closing this issue. Please reopen if it's still present.

[2017-09-19 15:56] #153 closed

[2017-09-19 15:57] theotherjimmy commented on #120
Then this is an issue for greentea right?

[2017-09-19 16:12] mazimkhan commented on #120
htrun sits between target and Greentea. Greentea can't detect this issue. However, this is pretty old. Hence need to be reproduced and impact has to be evaluated.

[2017-09-19 16:13] theotherjimmy commented on #120
Agreed. I'll take a look to see If I can reproduce it.

[2017-09-19 19:15] theotherjimmy commented on #144
@Patater @mazimkhan How's this issue going? should we consider an enhancement to htrun?

[2017-09-19 19:15] theotherjimmy commented on #87
@bridadan please reopen if this is still a problem.

[2017-09-19 19:15] #87 closed

[2017-09-20 10:59] marcuschangarm commented on #156
Yes, sorry. Forgot this was still open! :smiley:

[2017-10-05 17:05] studavekar opened #170 "htrun fails with RaaS version 0.9.0"
[code]

[2017-10-05 18:40] studavekar commented on #170
Closing as fix is merged.

[2017-10-05 18:40] #170 closed

[2017-11-07 19:42] geky opened #172 "Add user reset"
I noticed there's a plugin system in place for adding additional reset logic.

It would be awfully convenient to have a reset option that simply queries the user to reset the device, and waits for the user to push a key or something.

I'm currently dealing with a board that must be power cycled for the necessary hardware blocks to initialize correctly (it's a long story). Having a user-based reset

[2017-11-07 20:00] theotherjimmy commented on #172
For automation purposes, this would stink

[2017-11-07 20:01] theotherjimmy commented on #172
I see your point though, it would be nice for new target bring up. You could develop a more robust reset method as you do other things.

[2017-11-07 20:08] geky commented on #172
For non-automation purposes it also stinks

Can't think of an alternative though 😆

Slightly less stinky than needing to modify the tools locally

[2017-11-14 21:09] theotherjimmy opened #173 "All of the sub-modules start with `host_tests`"
This is very very redundant. I'm not sure if anyone even imports them.

[2017-11-20 10:44] hug-dev opened #175 "Error during copying process on MPS2 on Linux"
I am working with ARM_CM3DS_MPS2 target, running on MPS2 board.
On Linux, while executing greentea tests, there is a bug when the binary image is copied from the `BUILD` folder to the board.
Here is the `htrun` log when executed with `greentea`:
[code]

The cause of the bug has been identified and a pull request is soon going to be made.

[2017-11-20 20:34] #175 closed

[2017-12-07 14:22] hug-dev opened #179 "Tests start without rebooting the MPS2+"
On the MPS2+, the `module_reset_mps2.py` file handles the rebooting process. It happens copying a `reboot.txt` file onto the board.
However sometimes the test process continues because the file is not actually copied to the board and the board stays mounted.
A `sync` command, as done in `module_copy_mps2.py`, prevents this error and forces the file to be copied onto the board.

A pull request is g

[2018-02-13 15:52] #179 closed

[2018-05-26 09:54] jupe opened #188 "`mbedhtrun` without parameters causes unexpected exception"
`mbedhtrun` without parameters causes unexpected exception when running in macOS 10.13.4. Normal usage seems to work so probably not so critical issue.
See traceback below:

[code]

[2018-06-06 15:48] ciarmcom commented on #188
ARM Internal Ref: MBOTRIAGE-436

[2018-06-06 15:49] ciarmcom commented on #173
ARM Internal Ref: MBOTRIAGE-437

[2018-06-06 15:49] ciarmcom commented on #144
ARM Internal Ref: MBOTRIAGE-438

[2018-06-12 18:54] studavekar opened #193 "handle faulty SYNC packets"
### Description

When HTRUN encounters a sync packet from previous tests, It state machine goes in weird state. It starts the tests however still continues to send sync packets and eventully fails with `{{result;timeout}}` or `{{result;sync_failed}}`

It should readout/flash any stream of data in communication channel before starting the test.

[code]

[2018-06-12 19:49] ciarmcom commented on #193
ARM Internal Ref: MBOTRIAGE-675

[2018-06-14 14:46] gprossliner opened #194 "QEMU plugin"
Hello!

How can I write a plugin to support emulated devices?

My plan would be:
1. Let green tea list and compile the tests to individual .bin files
2. If a specific test.bin file is about to run, start a QEMU session (https://gnu-mcu-eclipse.github.io/qemu/), by starting a command-line.
3. Capture the stdio from the Emulator to perform test i/o. This would be the "SerialPort".
4. If a test has c

[2018-06-14 15:49] ciarmcom commented on #194
ARM Internal Ref: MBOTRIAGE-706

[2018-06-27 02:33] cmonr opened #196 "CircleCI hasn't been passing for a while."
Reference: https://circleci.com/gh/ARMmbed/htrun

[2018-06-27 03:48] ciarmcom commented on #196
ARM Internal Ref: MBOTRIAGE-936

[2018-06-27 16:09] bridadan commented on #196
Agreed, time to kill it since we run everything on travis anyway. @theotherjimmy I don't have the permissions to turn off circleci. I think you need to do that on the circleci side.

[2018-06-28 09:45] OPpuolitaival commented on #196
@theotherjimmy can you disable circleci for this repo?

[2018-06-28 14:06] cmonr commented on #196
The CircleCI webhook have been removed.

Was kinda hoping that we would fix the issues instead.

[2018-06-28 14:06] #196 closed

[2018-06-28 14:06] cmonr opened #199 "Migrate Circle CI tests to Travis CI"
CircleCI has now been removed.

Tests that were running in it should be added and updated into Travis CI.

Reference: https://github.com/ARMmbed/htrun/issues/196

[2018-06-28 15:48] ciarmcom commented on #199
ARM Internal Ref: MBOTRIAGE-969

[2018-06-28 16:40] bridadan commented on #199
@cmonr there isn't a circle ci config file in this repository, so I don't think it was running any extra tests that travis wasn't running. That's why I suggested just disabling Circle CI.

I don't have permissions, but if you look on the Circle CI config for this repo can you check to see if the test steps are specified there?

[2018-06-29 00:54] cmonr commented on #199
Ha, you're right.

Sure enough, the commands are in CircleCI settings. Coverage and pytest for the most part.

[2018-06-29 06:38] gprossliner commented on #194
Hello! Is there any progress or information on this subject? Thanks

[2018-06-29 20:08] cmonr commented on #199
Pre-dependency commands:
[code]

Post-test commands:
[code]

Not sure where this is kept, but it's run before the "Post-test commands":
[code]

[2018-06-29 20:57] bridadan commented on #199
Looks like it's (mistakenly) separating test commands and coverage commands. Travis runs the same stuff so I think you're ok closing this 👍

[2018-07-05 07:53] OmerRosler opened #201 "Passing cli argument to a new plugin"
Hello!

I'm trying to implement a new plugin for htrun. In my plugin I need to use the cli option `-m` (indicates mcu).
However the htrun code doesn't pass this specific argument to my plugin's `execute` method.
Is this on purpose?

If it is how can I pass an additional cli arguments to my plugin?

If it isn't, would you accept a PR that fixes this?

[2018-07-05 10:37] aqib-ublox opened #202 "Softreset would trigger HTrunner to stop running subsequent tests or followup existing test case"
I want to write a watchdog test in which system should recover from Fault like Usage, Memory Management, Hard fault etc. with greentea automated test environment.

but i am finding an issue as Fault occurs watchdog didn't get resets so continue to expire as it expires HT runner post result for display. Is there any provision in HTrunner to resume a test from place where it expires in case of soft

[2018-07-05 11:48] ciarmcom commented on #202
ARM Internal Ref: MBOTRIAGE-1080

[2018-07-05 11:48] ciarmcom commented on #201
ARM Internal Ref: MBOTRIAGE-1081

[2018-07-09 15:33] bridadan commented on #201
Hi @OmerRosler. The reason the `-m` isn't being passed to the `execute` method is most likely because it wasn't needed. Until now! 😄

You can add additional CLI arguments to the plugin by adding them to the `call_plugin` call for `CopyMethod` here: https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/host_tests_runner/mbed_base.py#L213

or for `ResetMethod` here: https://github.com/ARMmbed

[2018-07-09 19:32] bridadan commented on #202
Hi @aqib-ublox, I'm afraid I'm having a bit trouble understanding the test case. But from the info you've posted it sounds a bit like the system reset tests that are already present in Mbed OS:

Device test case: https://github.com/ARMmbed/mbed-os/blob/9ddb092d4359517797999d28def84a81fa725ced/TESTS/mbed_platform/system_reset/main.cpp
Host test: https://github.com/ARMmbed/mbed-os/blob/9ddb092d43595

[2018-07-09 19:55] bridadan commented on #194
Hi @gprossliner, sorry for the very late response. For the implementation, I think you'll want to go the route that added fastmodel support: add a `ConnectorPrimitive` implementation. You can see all of the current implementations here: https://github.com/ARMmbed/htrun/tree/master/mbed_host_tests/host_tests_conn_proxy

Here's the PR that added fastmodel support, you can probably use that as a guid

[2018-07-16 13:16] OmerRosler commented on #201
We will contribute this plugin pending approval of our managers (releasing code outside is not simple for us).
It's a Jlink plugin that enables flashing and reseting over SWD or JTAG via the `jlink commander` software

[2018-07-16 13:30] OmerRosler opened #205 "Bug in ST-LINK plugin"
This relates to

https://community.st.com/thread/40136-why-did-the-behavior-of-the-st-link-cli-command-run-change

The bug in ST-LINK is not resolved to this day, despite the claims there (and that breaks the htrun plugin)

Possible workaround:

Add to `run_command` the ability to accept an `stdin` argument (defaulting to `None`), passing it to the `subprocess.call` call.
Then the ST plugin would

[2018-07-16 15:48] ciarmcom commented on #205
ARM Internal Ref: MBOTRIAGE-1272

[2018-07-16 16:52] bridadan commented on #205
@OmerRosler Thanks for raising this. I'm sure we would accept it after some review! We don't typically use that plugin that much so we would defer to the folks that are using it. Feel free to submit the PR and we'll go from there!

[2018-07-16 20:56] c1728p9 opened #206 "Traceback on invalid character"
[code]

[2018-07-16 23:48] ciarmcom commented on #206
ARM Internal Ref: MBOTRIAGE-1280

[2018-07-19 11:09] aqib-ublox commented on #202
@bridadan i have explored test case and i can say yes it has helped in creating my test case thanks

[2018-07-20 05:52] aqib-ublox commented on #202
Sure closing it.

[2018-07-20 05:52] #202 closed

[2018-08-17 19:11] Alex-EEE opened #210 ""Found faulty sync in stream" -What am I doing wrong?"
When trying to use a custom host test, htrun is giving me a weird error "found faulty SYNC in stream".  See full log at bottom.

I'm invoking like so:
mbedhtrun --skip-flashing --skip-reset -p COM24:9600 -e host_tests -vv

It seems to find my custom host test:
HOST: Inspecting 'C:\files\mbed\staging\framework\features\TESTS\host_tests' for local host tests...
("HOST: Loading module 'lwm2m.py': ",

[2018-08-17 19:48] ciarmcom commented on #210
ARM Internal Ref: MBOTRIAGE-1531

[2018-08-17 21:02] Alex-EEE commented on #210
Arrrrrrgh, I was burning myself with my debugger and cutting off the serial responses.  Sorry folks.  Just in case anyone ever reads over this after its closed, here's what a good run looks like when it finds your custom host test:

$ mbedhtrun --skip-flashing --skip-reset -p COM24:9600 -e host_tests -vv
HOST: Inspecting 'C:\files\mbed\staging\framework\features\TESTS\host_tests' for local host te

[2018-08-20 10:09] MarceloSalazar opened #211 "Option to override timeout when testing app examples"
We're using the option `--compare-log` quite a lot to test application examples and it's very useful.
https://github.com/ARMmbed/htrun#testing-mbed-os-examples

As we're testing more complex applications, we see that the default timeout (60 secs) is not enough.

Question / enhancement request: would it be possible to override this timeout with a command line option?
For example:

[code]

@jamesbey

[2018-08-20 11:48] ciarmcom commented on #211
ARM Internal Ref: MBOTRIAGE-1533

[2018-08-20 14:11] bridadan commented on #211
Basically just need to add an option for this hardcoded value: https://github.com/ARMmbed/htrun/blob/92f5ca89e116b39dda25e73680c9c37eb9095d68/mbed_host_tests/host_tests_runner/host_test_default.py#L133

Though we already have a bunch of options for timeouts. At some point the future we may need to look into consolidating these timeouts if possible.

[2018-08-20 14:17] bridadan commented on #211
Oops, also #212 should do as well!

[2018-08-20 19:56] Alex-EEE opened #213 "Can you change the read_timeout from the command line?"
Is there any way to change the timeout listed below during the handshake?

[1534794813.49][SERI][INF] serial(port=COM24, baudrate=9600, read_timeout=0.01, write_timeout=5)

[2018-08-20 23:48] ciarmcom commented on #213
ARM Internal Ref: MBOTRIAGE-1536

[2018-08-21 14:17] bridadan commented on #213
@Alex-EEE Not at the moment, could you give specifics on the problem you're seeing?

[2018-08-21 14:26] gprossliner commented on #194
Thank you, I will check the provided information.

[2018-08-21 14:47] Alex-EEE commented on #213
It's difficult to run a target in debug mode in IAR b/c of the timing with the sync packets...basically, if the unit isn't immediately ready to respond, the test fails.

Just curious, I hard coded the time to 10 s on my system and it probably won't be an issue during automated regression.

[2018-08-21 14:47] #213 closed

[2018-08-21 18:53] bridadan commented on #213
@Alex-EEE Have you tried using the `--polling-timeout` options instead? Not sure if that will fix your issue specifically, but it'd be worth a try. If not we can add option to extend the timeout that you had to modify, just let me know!

[2018-08-23 13:30] #211 closed

[2018-09-24 17:33] theotherjimmy commented on #188
I can't reproduce this issue anymore.

[2018-09-24 17:33] #188 closed

[2018-09-24 22:14] #210 closed

[2018-09-24 22:19] Alex-EEE opened #217 "-e *adds* to host test list when using --list, but *overrides* mbed host tests when actually running"
Repro steps:

Use mbed test with -e to add a folder for custom host tests, and run all unit tests.  Any mbed unit test needing any of the "out of the box" host tests ( those that live in tools/host_tests ) will fail, saying it can't find tests like "RTCTest"

Although invoking mbedhtrun --list -e custom/host_tests will show the custom host tests getting added to the default ones:
[code]

[2018-09-25 00:30] ciarmcom commented on #217
ARM Internal Ref: MBOTRIAGE-1715

[2018-09-28 13:52] theotherjimmy commented on #217
Huh. Thanks for the report. I'll take a look.

[2018-09-28 14:05] theotherjimmy commented on #217
I'm pretty sure that listing will add all the default host tests, while running may skip that step.

My evidence is this line https://github.com/ARMmbed/htrun/blob/master/mbed_host_tests/__init__.py#L112

@bridadan @studavekar Would it be wise to remove this line, make `-e` accept many arguments, and default to ["./tests/host_tests"]?

[2018-09-28 15:30] Alex-EEE commented on #217
I like the many folders option, b/c I can easily see a desire to pull in host tests from multiple folders

BUT, I would always just *add* those tests to the default tests, not replace them.  Most developers are probably like us:  we run all of the "out of the box" mbed tests every night on our custom board, AND, we run the unit tests we've written for our custom modules.  If you don't include the

[2018-09-28 17:08] theotherjimmy commented on #217
Hi @Alex-EEE Thanks for getting back to me. The only downside I could think of is performance (ha!).

[2018-09-28 17:09] theotherjimmy commented on #217
Further, whatever we do should be consistent between `--list` and running.

[2018-10-01 16:07] bridadan commented on #217
I'm with @Alex-EEE, we should just add the new host tests vs replace them. And we should definitely be consistent between `--list` and running.

[2018-10-01 17:37] theotherjimmy commented on #217
@Alex-EEE Maybe this is user error: try referring to the test using the name from the "name" column. Your "lwm2m" host_test happens to have a class name that's the same as the python filename without the ".py" suffix.

[2018-10-01 17:38] theotherjimmy commented on #217
BTW, the PR makes a few changes: no abspath in printing to match what's passed in, and multiple `-e` accepted.

[2018-10-01 17:45] Alex-EEE commented on #217
@theotherjimmy, do you mean referring to it inside the c code running on the DUT?  This is what my reference to the host test looks like there:  "GREENTEA_SETUP(120, "lwm2m"); "

[2018-10-02 13:46] theotherjimmy commented on #217
@Alex-EEE Yes. That matches the "name" column, which does not have a capitol "L". Perhaps you could refer to the `RTCTest` class as `rtc_auto`?

[2018-10-02 15:15] bridadan opened #220 "Figure out consumers of the "toolbox" api"
The apis contained within https://github.com/ARMmbed/htrun/tree/master/mbed_host_tests/host_tests_toolbox do not seemed to be used within `htrun` (with the exception of `handle_send_break_cmd`, which can be relocated).

It is being used by Mbed CLI: https://github.com/ARMmbed/mbed-cli/blob/master/mbed/mbed.py#L2689

It would be good to know if any other tools are using this API so we can maintain

[2018-10-02 15:34] Alex-EEE commented on #217
@theotherjimmy I'm not using RTCTest, an mbed-os unit test uses that.

Just to clarify, I can get my greenTea test to pick up lwm2m when I run it by itself.  It's just an either or situation right now...I can either get all the mbed-os tests to run, but not my custom test, or I can get my custom test to run, but then all the mbed-os tests that need host tests break

[2018-10-02 16:17] theotherjimmy commented on #217
That strange. I'll have to check into how lookup works...

[2018-10-02 16:20] Alex-EEE commented on #217
Well wait, I haven't tried your PR yet...this all goes back to original problem...b/c "running" and --list don't match, it creates problems.  If you made running behave like --list, then I think everything should be golden.

[2018-10-02 16:30] adbridge commented on #220
*Issue header has missing or incorrectly filled in fields! Please fix.*

[2018-10-02 16:31] adbridge commented on #172
*Issue header has missing or incorrectly filled in fields! Please fix.*

[2018-10-02 16:44] theotherjimmy commented on #217
All GREENTEA_SETUP invocations in Mbed OS:
[code]

None invoke it with `"RTCTest"`, and all use the "name" column name.

[2018-10-02 16:45] theotherjimmy commented on #217
I think run and list use the same registry, the global `mbed_host_tests.HOSTREGISTRY`.

[2018-10-02 16:47] theotherjimmy commented on #172
@adbridge This repo does not use the same issue template as mbed-os. Your script is creating spurious errors and labels.

[2018-10-02 16:49] Alex-EEE commented on #217
Ok, so RTCTest was just a guess, I could remember from my output exactly which host tests it was looking for, just that it couldn't find it anymore.

Right now my observation is that if you supply -e, then --list will include all tests in mbed_host_tests.HOSTREGISTRY in addition to tests supplied with -e.  But run will not...for running, it appears -e *overrides* mbed_host_tests.HOSTREGISTRY

If y

[2018-10-02 16:49] adbridge commented on #172
@theotherjimmy we need to fix that. All repos wanting to use the new script will also require the same issue template...

[2018-10-02 16:51] theotherjimmy commented on #172
@adbridge That has not been communicated. Also, I did not opt into using "the new script".

[2018-10-02 17:01] theotherjimmy commented on #217
@Alex-EEE I can find nothing in the code that would make the new tests override old ones, nor could I find any use of the `unregester_host_test` function, the only way to remove host tests.

It looks like the only way that host tests are looked up is through `get_host_test`..

-------------

I think this is a windows-only issue: HOSTREGISTRY may be empty on the new Process's side of things. I ran

[2018-10-02 17:10] Alex-EEE commented on #217
Ahhhh, the windows thing about HOSTREGISTRY makes a lot of sense.  https://github.com/ARMmbed/htrun/blob/63eea4ee94a88f8e5c292588889fc243b5177aee/mbed_host_tests/__init__.py#L166  does appear to just add tests, and I remember when I saw that, I was confused why the original tests were going away

[2018-10-02 18:09] theotherjimmy commented on #217
Well this means that the registry needs to not be a global, and that those "helper functions" need to go away.

[2018-10-03 10:41] jamesbeyond opened #221 "mbedhtrun --version prints irrelevant messages on Ubuntu"
Run command: `mbedhtrun --version` on Ubuntu
It prints:
[code]

Where those `lib2to3` message should not be shown

[2018-10-04 12:27] adbridge commented on #217
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-493*

[2018-10-04 12:27] adbridge commented on #205
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-275*

[2018-10-04 12:27] adbridge commented on #201
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-230*

[2018-10-04 12:27] adbridge commented on #199
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-227*

[2018-10-04 12:27] adbridge commented on #194
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-100*

[2018-10-04 12:27] adbridge commented on #173
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-84*

[2018-10-04 12:27] adbridge commented on #144
*Internal Jira reference: https://jira.arm.com/browse/IOTCORE-82*

[2018-10-04 14:37] theotherjimmy commented on #144
@Patater Thanks for responding. I'll make sure this ends up in my backlog. Does this affect your ability to test certain examples? Do you have a easy-to-use reproducer that you would like to be able to test?

[2018-10-04 15:01] Patater commented on #144
This was originally for a uVisor example, but I'm not working on that project anymore.

If you want to reproduce easily, I think just a printf of what I put in the description would work. That lets you test the regex. If you really want to reproduce something slightly more realistic, extend blinky to print on every blink, and to also print when a user presses a button that triggers and IRQ that se

[2018-10-04 15:05] theotherjimmy commented on #144
Thanks. If it's not blocking you right now, I'm going to put it off to work on things that are blocking other people. Sorry about that.

[2018-10-08 17:35] studavekar opened #222 "htrun fails with mbedgt: cannot import name MbedBoard"
steps to reproduce

- create a fresh virtualenv
- install htrun ` pip install mbed-host-tests`

run `mbedgt`
[code]

This **effectivley breaks CI system** which would create a virtualenv and install packages using pip.

The root cause looks like latest release of [pyOCD](https://github.com/mbedmicro/pyOCD/releases/tag/v0.13.0b1)  with connector class ``` New ConnectHelper class with static methods

[2018-10-08 17:42] SenRamakri commented on #222
Adding @theotherjimmy and @bridadan

[2018-10-12 03:41] studavekar commented on #193
closing issue is been fixed.

[2018-10-12 03:41] #193 closed

[2018-10-17 10:49] mukundsharma1995 opened #225 "How can i implement htrun (Key-value) protocol without using greentea or greentea client, or mbed-ls?"
I am following this GitHub link for htrun -- https://github.com/ARMmbed/htrun
But what I want to do is to implement Htrun on host side, The DUT side will be taken care of, Is there any way to use the functionality of HTRUN on host and exchanges key-value messages between DUT and host.

The above resource explains the interaction between greentea client and htrun, I didn't find any specific example

[2018-10-17 20:05] mukundsharma1995 commented on #225
yes, my aim is to implement both DUT side and HOST side, but not able to understand this greentea framework concept , It is like forcing all the steps, what if i dont want to start execution with __sync?, i have tried implementing htrun independently but didn't work for me. as i have to use greentea client api to use htrun which i don't want

[2018-10-23 13:02] talorion opened #226 "feature request: st-flash copy/reset module"
Hey guys,
i am working on linux and i was wondering if you could include a copy/reset module for this:
[st-flash](https://github.com/texane/stlink)
this tool works also on windows but there i would use the stlink plugin
the commandline is pretty straight forward
[code]
thank you

[2018-10-23 16:24] ciarmcom commented on #226
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-42*

[2018-10-23 16:24] ciarmcom commented on #225
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-43*

[2018-10-23 16:24] ciarmcom commented on #222
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-44*

[2018-10-23 16:24] ciarmcom commented on #221
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-45*

[2018-10-23 16:24] ciarmcom commented on #220
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-46*

[2018-10-23 16:24] ciarmcom commented on #172
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-47*

[2018-10-23 20:14] studavekar commented on #222
closing it as fixed is been merged.

[2018-10-23 20:14] #222 closed

[2018-11-05 16:45] #217 closed

[2018-11-08 09:10] masoudr opened #227 "Error on running htrun with stlink plugin"
Hi,
I'm trying to use stlink plugin to upload a simple example but I get this error:

I'm using htrun v1.4.2.

[2018-11-08 11:39] ciarmcom commented on #227
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-146*

[2018-11-13 11:10] 0xc0170 commented on #227
What is your stlink version (target that you are testing) ?

cc @ARMmbed/team-st-mcd

[2018-11-13 18:37] masoudr commented on #227
I'm using ST-link original model v2.0 on Windows. My target is an STM32F407.

[2018-11-23 21:00] screamerbg opened #230 "Greetea/HTrun out of sync with bootloader present"
When the bootloader takes more time than expected, the sync message never reaches the test application.

Steps to reproduce:
1. Import `https://github.com/ARMmbed/smcc-tests`
2. Checkout branch `htrun-bl-desync`
3. Run tests with `mbed test -t ARM -m K64F -n simple-mbed-cloud-client-tests-dev_mgmt-connect* -v`

If you connect to the board using `mbed sterm -b 115200` you can pass it a fake sync me

[2018-11-23 21:08] ciarmcom commented on #230
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-193*

[2018-12-03 10:07] kjbracey-arm opened #231 "Support pyOCD >= 0.13.0"
#223 forced htrun to use an old pyOCD.

Users are starting to shift to using pyOCD 0.13.x to pick up various thread/context handling improvements I'm working on - having to downgrade to run htrun is annoying.

CC @flit in case he has any tips for dealing with the name change. Is there any problem with requiring >=0.13.0?

[2018-12-03 11:42] ciarmcom commented on #231
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-246*

[2018-12-03 16:21] bridadan commented on #231
The only dependency on pyocd is in the pycod plugin (which isn't used by default). So if we can verify that plugin works just fine with 0.13.x then we can definitely update the version.

[2019-01-03 21:37] bridadan commented on #231
This was implemented in #233

[2019-01-03 21:37] #231 closed

[2019-01-07 22:56] bridadan commented on #120
@theotherjimmy This is quite old, do remember by chance if you ever reproduced this?

[2019-01-07 22:59] bridadan commented on #120
Actually, I'm pretty sure we fixed this a long time ago. If a sync isn't successful it will retry and then fail after a timeout.

[2019-01-07 22:59] #120 closed

[2019-01-07 23:03] bridadan commented on #194
Hi @gprossliner, you may have seen that htrun is moving to https://github.com/armmbed/mbed-os-tools. This week I'm going through the existing issues and doing a little clean up. Do you have any interest in continuing with this enhancement?

[2019-01-07 23:03] #199 closed

[2019-01-07 23:04] bridadan commented on #201
Hi @OmerRosler , you may have seen that htrun is moving to https://github.com/armmbed/mbed-os-tools. This week I'm going through the existing issues and doing a little clean up. Do you have any interest in continuing with this enhancement?

[2019-01-07 23:06] bridadan commented on #205
Hi @OmerRosler, is this still relevant? And if so, would you still like to contribute a PR?

[2019-01-07 23:07] bridadan commented on #225
Hi @mukundsharma1995 , you may have seen that htrun is moving to https://github.com/armmbed/mbed-os-tools. This week I'm going through the existing issues and doing a little clean up. Do you have any interest in pursuing this further?

[2019-01-07 23:13] bridadan commented on #227
Hi @masoudr , you may have seen that htrun is moving to https://github.com/armmbed/mbed-os-tools. This week I'm going through the existing issues and doing a little clean up. Is this still an issue?

[2019-01-09 16:39] gprossliner commented on #194
Hi again!

Although I'm still interested in the topic, I'm currently working on a new project without mbed dependency.
So if you are planning something in relation to this, please keep me updated.
But I will not be able to actively participate in this.

Thanks

[2019-01-09 19:10] bridadan commented on #194
Ok good to know! In that case I'll close this issue.

[2019-01-09 19:10] #194 closed

[2019-01-11 17:04] bridadan commented on #201
Hi @OmerRosler, we are moving the project today, so I'll be closing this issue. If this is a feature you are still interested in, please go ahead and reopen this issue! I will then transfer it to the https://github.com/armmbed/mbed-os-tools repo. Thanks!

[2019-01-11 17:04] #201 closed

[2019-01-11 17:16] bridadan commented on #205
Hi @OmerRosler, we are moving the project today, so I'll be closing this issue. If this is an issue you are still interested in, please go ahead and reopen this issue! I will then transfer it to the https://github.com/armmbed/mbed-os-tools repo. Thanks!

[2019-01-11 17:16] #205 closed

[2019-01-11 17:17] bridadan commented on #225
Hi @mukundsharma1995 , we are moving the project today, so I'll be closing this issue. If this is an issue you are still interested in, please go ahead and reopen this issue! I will then transfer it to the https://github.com/armmbed/mbed-os-tools repo. Thanks!

[2019-01-11 17:17] #225 closed

[2019-01-11 17:18] bridadan commented on #227
Hi @masoudr, we are moving the project today, so I'll be closing this issue. If this is an issue you are still interested in, please go ahead and reopen this issue! I will then transfer it to the https://github.com/armmbed/mbed-os-tools repo. Thanks!

[2019-01-11 17:18] #227 closed

[2019-01-15 13:40] LiyouZhou opened #239 "Why are versions later than 1.4.1 not on pip?"

[2019-01-15 15:32] bridadan commented on #239
They're there: https://pypi.org/project/mbed-host-tests/#history

Are you having issues installing them? Perhaps your pip installation is using its cache? You can always temporarily disable it by running `pip install --no-cache-dir mbed-host-tests`.

Also as an fyi, this project has moved to https://github.com/ARMmbed/mbed-os-tools, so please open any other issues there in the future, thanks!

[2019-01-15 15:35] LiyouZhou commented on #239
Thank you.

[2019-01-15 15:35] #239 closed, assigned to nobody